[submodule "vendor/beachfront-py"]
	path = vendor/beachfront-py
	url = https://github.com/venicegeo/beachfront-py.git
[submodule "vendor/gippy"]
	path = vendor/gippy
	url = https://github.com/gipit/gippy.git
[submodule "vendor/pzsvc-exec"]
	path = vendor/pzsvc-exec
	url = https://github.com/venicegeo/pzsvc-exec.git
[submodule "vendor/pypotrace"]
	path = vendor/pypotrace
	url = https://github.com/flupke/pypotrace.git
[submodule "vendor/numpy"]
	path = vendor/numpy
	url = https://github.com/numpy/numpy.git
