[submodule "vendor/beachfront-py"]
	path = vendor/beachfront-py
	url = https://github.com/venicegeo/beachfront-py.git
	checkout = develop
[submodule "vendor/pzsvc-exec"]
	path = vendor/pzsvc-exec
	url = https://github.com/venicegeo/pzsvc-exec
	checkout = master
[submodule "vendor/bfalg_WTA"]
	path = vendor/bfalg_WTA
	url = https://github.com/venicegeo/bfalg_WTA
	checkout = 1.0.1
[submodule "vendor/bfalg-ndwi"]
	path = vendor/bfalg-ndwi
	url = https://github.com/venicegeo/bfalg-ndwi
	checkout = 1.1.0
[submodule "vendor/gippy"]
	path = vendor/gippy
    url = https://github.com/gipit/gippy.git
    checkout = v1.0.0
